

@font-face {
    font-family: 'body-font';
    src: url('font/Jost-Regular.woff');
}
@font-face {
    font-family: 'khmer-font';
    src: url('font/Moul-Regular.woff');
}
@font-face {
    font-family: 'name-font';
    src: url('font/Preahvihear-Regular.woff');
}
@font-face {
    font-family: 'khmer-text-font';
    src: url('font/Fasthand-Regular_1.woff');
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #fefefe;
    font-family: 'body-font';
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav__logo {
    background-color: #ffffff;
    padding: 30px 20px;
    text-align: left;
    border: 1px solid #333;
    border-radius: 8px;
    text-wrap: nowrap;
}

.nav__logo:hover{
    background-color: #f37324;
    color: #333;
    border: 1px solid #333;
    cursor: pointer;
}

.nav__links{
    display: flex;
    justify-content:center;
    padding: 0 10px;
    align-items: center;
    gap: 50px;
    width: 50%;
    margin-left: -50px;

}

.nav__link{
    font-size: 40px;
    text-decoration: none;
    color: #333333;
    padding-left: 0;
}

.nav__link:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    color: #f37324;
    text-align: center;
}
.hero{
    padding: 100px;
    height: 50vh;
    background-image: url('assets/image/hero-background.jpg');
    background-size: cover;
    background-position: bottom;
    text-align: center;
    align-content: center;
    object-fit: cover;
    color: #fefefe;
  
}
.hero__title{
    text-align: left;
}

.hero__title--description{
    text-align: left;
}

.main{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    gap: 15px;
    border-radius: 8px;
    padding: 0;
}
.main__title{
    text-align: center;
    padding: 30px 0px;
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.main__section{
    padding: 20px;
}

.main__section img{
    width: 100%;
    height: 100%;
    min-height: 200px;
    object-fit: cover;
    border-radius: 4px;
}